hydra-core
matplotlib
numpy
omegaconf
pandas
PyYAML
regex
requests
scikit_learn
seaborn
tqdm
typing_extensions
wandb
openai
aiohttp
inflect
datasets==3.2.0
peft==0.18.1
setuptools==65.5.0
tokenizers==0.22.2
torch==2.6.0
transformers==5.0.0rc3
trl==0.26.1
huggingface_hub==1.8.0